---
const link = `https://github.com/LaB-CH3/Astro-idol`

---

<header class="nav">
    <div class="container row">
     <div class="nav-logo one-third column">
         <a href="#" class="logo-link">
             <img src="/narutaki-logo.svg" alt="鳴滝塾">
         </a>
     </div>
     <nav class="one-third column">
         <ul class="center flex">
             <li><a href="#features">コース</a></li>
             <li><a href="#pricing">料金</a></li>
             <li><a href="#timetable">時間割</a></li>
         </ul>
     </nav>
    </div>
 </header>


 <style lang="scss">

.nav{
    padding: 15px 0;
    li{
      list-style: none;
      margin-top: 7px;
    }
    .nav-cta{
      text-align: right;
    }
    a:not(.button):not(.logo-link){
      color: #111;
      padding: 0 20px;
      text-decoration: none;
    }
    .logo-link img{
      width: 200px;
      margin-top: 0px;
    }
    @media (max-width:700px) {
      nav{
        display: none;
      }
      .nav-cta{
        position: absolute;
        right: 20px;
      }
    }
  } 
 </style>